::-moz-selection
{
  color: #FFFCF0;
  background: #0F0C00;
}
::selection
{
  color: #FFFCF0;
  background: #0F0C00;
}      
.ebnf a
{
  text-decoration: none;
}
.ebnf a:hover
{
  color: #050400;
  text-decoration: underline;
}    
.signature
{
  color: #806600;
  font-size: 11px;
  text-align: right;
}
body
{
  font: normal 12px;
  color: #0F0C00;
  background: #FFFCF0;
}
a:link, a:visited
{
  color: #0F0C00;
}
a:link.signature, a:visited.signature
{
  color: #806600;
}
a.button, #tabs li a
{
  padding: 0.25em 0.5em;
  border: 1px solid #806600;
  background: #F1E8C6;
  color: #806600;
  text-decoration: none;
  font-weight: bold;
}
a.button:hover, #tabs li a:hover
{
  color: #050400;
  background: #FFF6D1;
  border-color: #050400;       
}     
#tabs
{
  padding: 3px 10px;
  margin-left: 0;
  margin-top: 58px;
  border-bottom: 1px solid #0F0C00;
}  
#tabs li
{
  list-style: none;
  margin-left: 5px;
  display: inline;
}
#tabs li a
{     
  border-bottom: 1px solid #0F0C00;
}
#tabs li a.active
{
  color: #0F0C00;
  background: #FFFCF0;
  border-color: #0F0C00;
  border-bottom: 1px solid #FFFCF0;
  outline: none;
}
#divs div
{
  display: none;
  overflow:auto;
}
#divs div.active
{
  display: block;
}
#text
{
  border-color: #806600;
  background: #FFFEFA;
  color: #050400;
}
.small
{
  vertical-align: top;
  text-align: right;
  font-size: 9px;
  font-weight: normal;
  line-height: 120%;
}
td.small
{
  padding-top: 0px;
}
.hidden
{
  visibility: hidden;
}
td:hover .hidden 
{
  visibility: visible;
}
div.download
{
  display: none;
  background: #FFFCF0;
  position: absolute;
  right: 34px;
  top: 94px;
  padding: 10px;
  border: 1px dotted #0F0C00;
}
#divs div.ebnf, div.ebnf
{
  display: block;
  padding-left: 16px;
  padding-top: 2px; 
  padding-bottom: 2px; 
  background: #FFF6D1;
}
tr.option-line td:first-child
{
  text-align: right
}
tr.option-text td
{
  padding-bottom: 10px
}
table.palette
{
  border-top: 1px solid #050400;
  border-right: 1px solid #050400;
  margin-bottom: 4px
}
td.palette
{
  border-bottom: 1px solid #050400;
  border-left: 1px solid #050400;
}
a.palette
{
  padding: 2px 3px 2px 10px;
  text-decoration: none;
}
.palette
{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}
.console
{
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #222;
    color: white;
    font-size: 90%;
    margin: 1em 0px;
    padding: .75em .75em .75em 1em;
    /*overflow-x: scroll;*/
}